<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>min</key>
		<integer>100</integer>
		<key>max</key>
		<real>2000</real>
		<key>default</key>
		<integer>320</integer>
		<key>step</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>100</integer>
		<key>max</key>
		<real>2000</real>
		<key>default</key>
		<integer>500</integer>
		<key>step</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>100</integer>
		<key>max</key>
		<real>2000</real>
		<key>default</key>
		<real>1500</real>
		<key>step</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>min</key>
		<integer>100</integer>
		<key>max</key>
		<real>2500</real>
		<key>default</key>
		<integer>2500</integer>
		<key>step</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
